@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-tr from-[#43c6ac] to-[#191654] text-white;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}